# ── MinIO 連線設定 ──────────────────────────────────────────
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# ── MinIO 業務設定 ──────────────────────────────────────────
# MINIO_SECURE=false

# ── Kafka 設定 ──────────────────────────────────────────────
KAFKA_BOOTSTRAP_SERVERS=

# ── bucket = 市場  ─────────────────────────────────────────
MINIO_BUCKET=

# ── Snowflake 連線設定 ──────────────────────────────────────
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=

# ── Slack 通知設定 ──────────────────────────────────────
SLACK_PIPE_WEBHOOK_URL=
SLACK_PRICE_WEBHOOK_URL=

# ── Finnhub API 設定 ──────────────────────────────────────
FINNHUB_API_KEY=